
<!-- Team member -->
<div class="row">

    <div class="col">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
                <div class="frontside">
                    <div class="card">
                        <div class="card-body contenido">
                            <i class="fas fa-cat  fa-4x "></i>
                            <h4 class="card-title mt-3">Juego de la vida</h4>
                            <p class="card-text">
                                Autómata celular que simula comportamientos complejos en espacios discretos.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="backside">
                    <div class="card text-center">
                        <img src="../../../assets/devs/life.png" alt="">
                        <div class="card-body text-center">
    
                            <a class="btn btn-primary" href="https://focused-bardeen-260d2d.netlify.app/" target="_blank">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>

    <div class="col">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
                <div class="frontside">
                    <div class="card">
                        <div class="card-body contenido">
                            <i class="fas fa-cat  fa-4x "></i>
                            <h4 class="card-title mt-3"> CRUD de clientes </h4>
                            <p class="card-text">
                                Aplicación realizada en curso de Spring Boot.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="backside">
                    <div class="card">
                        <img src="../../../assets/devs/curso.png" alt="">
                        <div class="card-body text-center">
    
                            <a class="btn btn-primary" href="https://cliente-prueba2.herokuapp.com/" target="_blank">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    
</div>




<!-- Team member -->
<div class="row">

    <div class="col">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
                <div class="frontside">
                    <div class="card">
                        <div class="card-body contenido">
                            <i class="fas fa-cat  fa-4x "></i>
                            <h4 class="card-title mt-3">Prototipo de gestión escolar de educación básica</h4>
                            <p class="card-text">
                                Proyecto empleando microservicios para la administración de niveles educativos.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="backside">
                    <div class="card">
                        <img src="../../../assets/devs/escolar.png" alt="">
                        <div class="card-body text-center">
                            <a class="btn btn-primary" href="https://github.com/ipnYair95/angular-proyectoGit" target="_blank">
                                <i class="fab fa-angular" aria-hidden="true"> Front </i>
                            </a>

                            <a class="btn btn-primary ml-3" href="https://github.com/ipnYair95/spring-proyectoGit" target="_blank">
                                <i class="fab fa-java" aria-hidden="true"> Back </i>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>

    <div class="col">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
                <div class="frontside">
                    <div class="card">
                        <div class="card-body contenido">
                            <i class="fas fa-cat  fa-4x "></i>
                            <h4 class="card-title mt-3"> Physarum Polycephalum CA </h4>
                            <p class="card-text">
                                Autómata celular que simula el organismo del Physarum Polycephalum
                            </p>
                        </div>
                    </div>
                </div>
                <div class="backside">
                    <div class="card">
                        <img src="../../../assets/devs/phy.png" alt="">
                        <div class="card-body text-center">
    
                            <a class="btn btn-primary" href="https://github.com/ipnYair95/Physarum" target="_blank">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>

                            <a class="btn btn-warning ml-3" href="https://www.youtube.com/watch?v=Gw6nJJcGaAE" target="_blank">
                                <i class="fa fa-youtube" aria-hidden="true"></i>
                            </a>

                            <a class="btn btn-success ml-3" href="https://www.comunidad.escom.ipn.mx/genaro/Papers/Thesis_files/Phy2DCAvN%289%29.exe" target="_blank">
                                <i class="fa fa-save" aria-hidden="true"> Ejecutable </i>
                            </a>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    
</div>
