#team .card {
  border: none;
  background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: 0.25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.frontside {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
}

.backside {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.frontside,
.backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
  margin-left: 1rem;
  width: 91vw;
  min-height: 50vh;
}

.backside .card {
  box-shadow: 5px 10px;
}

div img {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.frontside .card .card-title,
.backside .card .card-title {
  color: #007b5e !important;
}

.contenido {
  text-align: center;
  padding: 11%;
}

 

@media screen and (min-width: 320px) {
}

@media screen and (min-width: 481px) {
  a {
    margin-top: -9rem;
  }

  .frontside .card,
  .backside .card {
    margin-left: 1rem;
    width: 92vw;
    height: 30vh;
  }
}

@media screen and (min-width: 769px) {
}

@media screen and (min-width: 1025px) {
}

@media screen and (min-width: 1201px) {
  a {
    margin-top: -9rem;
  }

  .frontside .card,
  .backside .card {
    margin-left: 2rem;
    width: 42vw;
    height: 40vh;
  }
}

@media screen and (min-width: 1680px) {
}

@media screen and (min-width: 1900px) {
}
