 

<div class="row flex-container">

    <div class=" flex-item col" style="text-align: center;">
        <img src="../../../assets/page/hola.png" alt="" class="hola">        
        
    </div>

    <div class=" flex-item col ">
        <p> <b> ¿Quién soy? </b> </p>
        <div class="texto">
            <div class="texto_parrafo">
                Me identifico como una persona persistente y curiosa ante no quedarme la duda sobre un problema
                o concepto, no solo en el desarrollo sino con cualquier tema. Pienso de que cualquier conocimiento o habilidad
                de una alguien es un buen apoyo porque es una experiencia compartida.
            </div>
            <div class="texto_parrafo">
                Ante algún problema busco las posibilidades o elementos que intervienen, esto para reducir el margen de error.
            </div>
            <div class="texto_parrafo">
                Mi meta es siempre aprender cada día y compartir un poco de conocimiento con quien ignore
                un tema.
            </div>
        </div>
    </div>
</div>

<div class="row flex-container">

    <div class=" flex-item col" style="text-align: center;">
        <p> <b> Objetivo</b> </p>
        <div class="texto">
            <div class="texto_parrafo">
                Ser constante en la actualización sobre las tecnologías y aspirar a formar parte de equipos de trabajo 
                que fomenten el compromiso con un grato ambiente.          
            </div>
        </div>
    </div>

    <div class=" flex-item col">
        <p> <b> Datos personales </b> </p>

        <ul>
            <li>
                 <b> <i class="fa fa-user" aria-hidden="true"> Edad: </i> </b> 
                 {{ datos?.edad }}  
            </li>
            <li> 
                <b> <i class="fa fa-map-marker" aria-hidden="true"> Domicilio: </i> </b> 
                {{ datos?.domicilio }}  
            </li>
            <li>
                <b>
                    <i class="fa fa-heart" aria-hidden="true"> Gustos: </i>                    
                </b>
                Baile, video-juegos, dibujo, reflexiones, videos psicológicos.
            </li>
            <li>
                <b>
                    <i class="fa fa-thumbs-up" aria-hidden="true"> Temas de preferencia: </i>
                </b>
                Angular, consumo de APIs, Spring Boot, Reactive forms
            </li>
        </ul>
        
    </div>
</div>