<nav class="navbar navbar-expand-lg py-3 navbar-dark bg-dark shadow-sm fixed-top ">
  <div class="container">
    <a href="#" class="navbar-brand">
      <!-- Logo Image -->
      <img src="../../../assets/gato.png" width="30" height="45" alt=""
        class="d-inline-block align-middle mr-2">
      <!-- Logo Text -->
      <span class="text-uppercase font-weight-bold"> Yair Projects </span>
    </a>

    <button  #navbarToggler type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
      class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="#home" class="nav-link" (click)="collapseNav()" > Inicio </a></li>
        <li class="nav-item"><a href="#about" class="nav-link" (click)="collapseNav()"> About </a></li>
        <li class="nav-item"><a href="#devs" class="nav-link" (click)="collapseNav()"> Proyectos </a></li>
        <li class="nav-item"><a href="#skills" class="nav-link" (click)="collapseNav()"> Skills </a></li>
        <li class="nav-item"><a href="#cursos" class="nav-link" (click)="collapseNav()"> Cursos </a></li>
        <li class="nav-item"><a href="#exp" class="nav-link" (click)="collapseNav()"> Experiencias </a></li>
        <li class="nav-item"><a href="#contacto" class="nav-link" (click)="collapseNav()"> Contactame </a></li>
        <li>
          <a class="btn btn-primary"
            href="https://drive.google.com/file/d/1AFveNGXLyMMKZArq21A7c6l-GBPONdOJ/view?usp=sharing" target="_blank">
            <i class="fas fa-save    "> Descargar CV </i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>