
<div>
    <div id="home" class="contenedor">

        <div class="animate__animated animate__backInUp informacion">
    
            <h1>
                {{ title }}
            </h1>
    
            <div class="separador">
                <img class="foto" src="../../../assets/cat.jpg">
            </div>
    
    
            <div class="d-flex flex-row">
                <div class="col">
                    <p> FRONT-END </p>
                    <img src="../../../assets/iconos/html.png" class="img_ico">
                    <img src="../../../assets/iconos/css.png" class="img_ico">
                    <img src="../../../assets/iconos/js.png" class="img_ico">
                    <img src="../../../assets/iconos/angular.png" class="img_ico">
    
                </div>
                <div class="col">
                    <p> BACK-END </p>
                    <img src="../../../assets/iconos/java.png" class="img_ico">
                    <img src="../../../assets/iconos/spring-boot.png" class="img_ico">
                    <img src="../../../assets/iconos/mysql.png" class="img_ico">
                    <img src="../../../assets/iconos/mongo.png" class="img_ico">
                </div>
            </div>
    
            <div class="d-flex flex-row" style="margin-top: 10px;">
                <div class="col">
                    <p> HERRAMIENTAS </p>
                    <img src="../../../assets/iconos/git.png" class="img_ico">
                    <img src="../../../assets/iconos/post.png" class="img_ico">
                    <img src="../../../assets/iconos/hero.png" class="img_ico">
                </div>
            </div>
    
        </div>
    
    </div>
    
    <div>
    
        <div id="about" style="margin-right: 2rem;">
            <div style="text-align: center;">
                <h2>
                    SOBRE MI
                </h2>
            </div>
            <app-about> </app-about>
        </div>
    
    
        <hr>
    
    
        <div id="devs" style="margin-right: 2rem;">
            <div style="text-align: center;">
                <h2>
                    PROYECTOS PERSONALES
                </h2>
            </div>
            <app-desarrollos></app-desarrollos>
        </div>

        <hr>
    
        <div id="skills" style="margin: 0rem 1rem">
            <div style="text-align: center;">
                <h2>
                    SKILLS
                </h2>
            </div>
            <app-skills> </app-skills>
        </div>
    
    
    
        <hr>
    
    
        <div id="cursos" style="margin: 0rem 1rem">
            <div style="text-align: center;">
                <h2>
                    CURSOS Y EDUCACIÓN
                </h2>
            </div>
            <app-cursos></app-cursos>
        </div>
    
    
        <hr>
    
        <div id="exp" style="margin-right: 1rem;">
            <div style="text-align: center;">
                <h2>
                    EXPERIENCIAS
                </h2>
            </div>
            <app-experiencias> </app-experiencias>
        </div>
    
    
        <hr>
    
        <div id="contacto" style="margin-right: 1rem;">
            <div style="text-align: center;">
                <h2>
                    CONTACTAME
                </h2>
            </div>
            <app-contacto> </app-contacto>
        </div>
    
    </div>
</div>