<!-- Site footer -->
<footer class="site-footer">
  <div class="flex">
    <div class="font" >
      
      <p>
        <i class="fa fa-copyright" aria-hidden="true">
          {{ fecha | date: 'yyyy'}} Creative Commons
        </i>  
      </p>

      <hr>
      
      <i class="fa fa-envelope " aria-hidden="true">
        yairma.ipn95@hotmail.com
      </i>

      <i class="fab fa-linkedin " aria-hidden="true">
        <a href="https://www.linkedin.com/in/yairma-ipn95/" target="_blank" style="color: darkblue;">
          <b> Linkedin </b>
        </a>
      </i>

      <i class="fab fa-whatsapp " aria-hidden="true">
        <b> 55 26 76 44 21 </b>
      </i>
      

    </div>
  </div>

</footer>